.header{
    background-color: blanchedalmond;
    display:flex;
    justify-content: space-between;
}

h1{
    color: peru;
}

.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.footer{
    display:flex;
    justify-content: flex-end;
}